body {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --color-primary:    #333333;
    --color-secondary:  #E2E2E2;
    --background:       #F1F1F1; 

    --font-primary:       "Be Vietnam Pro", sans-serif;
    --font-secondary:     "Lora", serif;
}
.box {
    font-family: var(--font-primary);
    color: var(--color-primary);
    background-color: var(--color-secondary);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    border-radius: 8px;
}
.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    padding: 20px 0;
}
.header-logo {
    width: 200px;
    height: 60px;
}
.header-menu {
    height: 34px;
    flex: 1;
}
.header-button {
    padding: 0 20px;
    height: 42px;
}
.inner-wraper {
    display: flex;
    gap: 30px;
    align-items: center;
}

/* width: calc((100% - (gap*(x-1))) / x)*/

.section-1 {
    background-color: var(--background);
    padding: 80px 0;
}
.section-1 .inner-wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.section-1 .inner-image {
    width: calc(50% - 15px);
    height: 520px;
}
.section-1 .inner-content {
    width: calc(50% - 15px);
    height: 267px;
}

.section-2 {
    padding: 80px 0;
}
.section-2 .inner-wraper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}
.section-2 .item-big {
    height: 420px;
    width: calc((100% - 60px) / 3);
}

.section-3 {
    background-color: var(--background);
    padding: 80px 0;    
}
.section-3 .inner-wraper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.section-3 .item-small {
    width: calc((100% - 120px) / 5);
    height: 300px;
}
.section-4 {
    padding: 80px 0;
}
.section-4 .inner-wraper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.section-4 .item-normal {
    width: calc((100% - 90px) / 4);
    height: 300px;
}
.box-title {
    display: flex;
    margin: 0 auto 40px auto;
    font-family: var(--font-secondary);
    height: 80px;
    width: 600px;
}
.footer {
    background-color: var(--color-secondary);
    width: 100%;
    height: 72px;

}

